
<section>
    <div class="container ">
        <div class="row m-5">
<div class="col-md-6">
<div class="card " style="width: 18rem; border: none;">
  <img class="card-img-top"  src="/images/add.jpg" alt="Card image cap">
  <div class="card-body mx-auto">
    
    <a href="/admin/add-product" class="btn btn-primary">Add Dealers</a>
  </div>
</div>
</div>
<div class="col-md-6">
<div class="card" style="width: 18rem; border:none">
  <img class="card-img-top "  src="/images/edit.jpg" alt="Card image cap">
  <div class="card-body mx-auto">
    
    <a href="/admin/details" class="btn btn-primary">Delete & Update</a>
  </div>
</div>
</div>

        </div>
        </div>
        </section>